body {
    background-color: #6ab0ed;
}
h1{
    color: red;
}
h2{
    color: orange;
}
a {
 color: green;
}
img{
    width: 240px;
}
.bigtext {
 font-size: 1.5rem;
}


@font-face {
    font-family: 'Teddy Bear';
    src: url('../Styles/fonts/teddy_bear.eot');
    src: url('../Styles/fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
    url('../Styles/fonts/teddy_bear.woff2') format('woff2'),
    url('../Styles/fonts/teddy_bear.woff') format('woff'),
    url('../Styles/fonts/teddy_bear.ttf') format('truetype'),
    url('../Styles/fonts/teddy_bear.svg#teddy_bear') format('svg');

}

h3 {
    font-family: 'Teddy Bear', sans-serif;
}

h3{
    font-family: 'Teddy Bear', sans-serif;
}

a:hover {
    color: blueviolet;
}